.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
}

text {
  color: black;
}

.container {
  margin: 20px;
  padding: 20px;
}

p, div {
  text-align: center;
}